
__pycache__/
*.py[cod]
*$py.class


*.so


build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/


.env
.venv/
env/
venv/
ENV/


.ipynb_checkpoints/


.pytest_cache/


*.log


.DS_Store
Thumbs.db


.spotify_token_cache


data/raw/spotify_api/*.json


docker-compose.override.yml

